*{
    font-family: sans-serif;
   
}

body{
    text-align: justify;

    background-image: linear-gradient(to right, rgb(219, 205, 198), rgb(221, 153, 187));
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.329);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1, h2 {
    color: rgb(123, 80, 111);
}

h1{
    text-align: center;
    text-shadow: 1px 1px 2px rgba(65, 40, 58, 0.59);
}